@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/ruby.css';
@import '@radix-ui/colors/ruby-dark.css';
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/orange-dark.css';
@import '@radix-ui/colors/crimson.css';
@import '@radix-ui/colors/crimson-dark.css';
@import '@radix-ui/colors/teal.css';
@import '@radix-ui/colors/teal-dark.css';
@import '@radix-ui/colors/lime.css';
@import '@radix-ui/colors/lime-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@pims-frontend/ui/styles/pretendardvariable.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --table-moved-row: 37 22% 59%;
    --table-delete-row: 0 84.2% 60.2%;
    --table-created-row: 12 76% 61%;
    --accent-amber: var(--amber-9);
    --accent-black: var(--sand-13);
    --accent-blue: var(--blue-7);
    --accent-crimson: var(--crimson-9);
    --accent-gray: var(--sand-6);
    --accent-lime: var(--lime-9);
    --accent-orange: var(--orange-9);
    --accent-teal: var(--teal-7);
    --accent-violet: var(--violet-10);
    --background-alternative: var(--sand-4);
    --background-normal: var(--sand-2);
    --border-destructive-1: var(--ruby-3);
    --border-destructive-2: var(--ruby-9);
    --border-neutral: var(--sand-8);
    --border-normal: var(--sand-6);
    --border-primary-1: var(--violet-6);
    --border-primary-2: var(--violet-8);
    --border-strong: var(--black-a12);
    --border-subtle: var(--sand-4);
    --fill-card: var(--static-white);
    --fill-input: var(--static-white);
    --fill-muted: var(--sand-3);
    --fill-popover: var(--static-white);
    --fill-strong: var(--sand-6);
    --fill-subtle-1: var(--sand-5);
    --fill-subtle-2: var(--sand-3);
    --fill-subtle-3: var(--sand-1);
    --fill-tablecell: var(--static-white);
    --interaction-disable: var(--sand-3);
    --interaction-hover: var(--sand-3);
    --interaction-inactive: var(--sand-8);
    --inverse-background: var(--black-a12);
    --inverse-label: var(--white-a12);
    --inverse-primary: var(--violet-9);
    --material-dimmer: var(--black-a6);
    --primary-accent: var(--violet-3);
    --primary-assistive-1: var(--violet-6);
    --primary-assistive-2: var(--violet-7);
    --primary-assistive-3: var(--violet-8);
    --primary-disabled: var(--violet-4);
    --primary-heavy: var(--violet-11);
    --primary-normal: var(--violet-9);
    --primary-strong: var(--violet-10);
    --static-black: var(--black-a13);
    --static-white: var(--white-a13);
    --status-cautionary: #ffc53d;
    --status-destructive: var(--ruby-9);
    --status-destructive-disabled: var(--ruby-6);
    --status-destructive-hover: var(--ruby-11);
    --status-negative: var(--radix-error-bg);
    --status-positive: #46a758;
    --text-active: var(--static-white);
    --text-assistive-1: var(--sand-9);
    --text-assistive-2: var(--sand-11);
    --text-assistive-3: var(--sand-15);
    --text-disabled: var(--sand-8);
    --text-neutral: var(--gray-14);
    --text-normal: var(--gray-17);
    --text-strong: var(--static-black);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --table-moved-row: 37 22% 59%;
    --table-deleted-row: 0 62.8% 30.6%;
    --table-created-row: 220 70% 50%;
    --accent-amber: var(--amber-10);
    --accent-black: var(--sand-13);
    --accent-blue: var(--blue-6);
    --accent-crimson: var(--crimson-10);
    --accent-gray: var(--sand-9);
    --accent-lime: var(--lime-10);
    --accent-orange: var(--orange-9);
    --accent-teal: var(--teal-6);
    --accent-violet: var(--violet-9);
    --background-alternative: var(--sand-17);
    --background-normal: var(--sand-16);
    --border-destructive-1: #3a141e;
    --border-destructive-2: #e54666;
    --border-neutral: var(--sand-10);
    --border-normal: var(--sand-14);
    --border-primary-1: #473876;
    --border-primary-2: #6958ad;
    --border-strong: var(--black-a12);
    --border-subtle: var(--sand-16);
    --fill-card: var(--sand-16);
    --fill-input: var(--sand-16);
    --fill-muted: var(--sand-14);
    --fill-popover: var(--sand-16);
    --fill-strong: var(--sand-15);
    --fill-subtle-1: var(--sand-15);
    --fill-subtle-2: var(--sand-15);
    --fill-subtle-3: var(--sand-17);
    --fill-tablecell: var(--sand-16);
    --interaction-disable: var(--sand-15);
    --interaction-hover: var(--sand-16);
    --interaction-inactive: var(--sand-12);
    --inverse-background: var(--white-a12);
    --inverse-label: var(--black-a12);
    --inverse-primary: #6e56cf;
    --material-dimmer: var(--white-a2);
    --primary-accent: #291f44;
    --primary-assistive-1: #473876;
    --primary-assistive-2: #56468b;
    --primary-assistive-3: #6958ad;
    --primary-disabled: #33255b;
    --primary-heavy: #baa7ff;
    --primary-normal: var(--violet-9);
    --primary-strong: #7d66d9;
    --static-black: var(--black-a13);
    --static-white: var(--white-a13);
    --status-cautionary: #ffc53d;
    --status-destructive: #e54666;
    --status-destructive-disabled: var(--ruby-12);
    --status-destructive-hover: #ff949d;
    --status-negative: var(--radix-error-bg);
    --status-positive: #46a758;
    --text-active: var(--static-white);
    --text-assistive-1: var(--sand-9);
    --text-assistive-2: var(--sand-7);
    --text-assistive-3: var(--sand-5);
    --text-disabled: var(--sand-11);
    --text-neutral: var(--gray-3);
    --text-normal: var(--white-a12);
    --text-strong: var(--white-a13);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
}
